:root {
  --primary-color: #1b1b1b;
  --secondary-color: white;
  --accent-color: #c2f652;
  --header-color: #202020;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

.contact-button {
  border-radius: 50px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 17px;
  padding: 18px 40px;
  text-transform: uppercase;
}

/* Homepage */

.hero {
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 350px;
}

h1 {
  color: var(--secondary-color);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 85px;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.home-image {
  padding-top: 20px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 24px;
    line-height: 40px;
    padding: 0 10px 20px;
  }
  .contact-button {
    font-size: 10px;
    line-height: 12px;
    padding: 12px 20px;
  }
}

/* About page */
.about {
  padding: 30px 40px;
}

.about-us,
.our-services {
  padding: 20px;
}

.about-heading {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-paragraph {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
}

.social-icons {
  color: var(--accent-color);
  text-align: center;
  margin: 25px auto 0;
}

.social-icons i {
  margin: 0 10px;
}

.about-image {
  padding: 60px;
}

@media (max-width: 576px) {
  .about {
    padding: 15px 20px;
  }

  .about-us,
  .our-services {
    padding: 10px;
  }

  .about-heading {
    font-size: 14px;
    text-align: center;
  }
  .about-paragraph {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
  .about-image {
    padding: 30px;
  }
}
