:root {
  --primary-color: #1b1b1b;
  --secondary-color: white;
  --accent-color: #c2f652;
  --header-color: #202020;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}

p {
  color: var(--secondary-color);
}

/* Homepage */

/* nav */
nav {
  padding: 20px 40px;
  background-color: var(--header-color);
}

nav a {
  line-height: 40px;
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--accent-color);
}

nav ul {
  padding: 0;
  padding-top: 8px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
  font-size: 16px;
}

i {
  font-size: 24px;
}

nav .brand {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 28px;
}

nav span {
  font-size: 16px;
  font-weight: 400;
}
/* nav */

.hero {
  background-image: url(/img/1.jpg);
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding-top: 250px;
  padding-bottom: 350px;
}

h1 {
  color: var(--secondary-color);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 85px;
  margin: 0 auto;
  max-width: 1000px;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.home-image {
  padding-top: 20px;
}

.contact-button {
  border-radius: 50px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 17px;
  padding: 18px 40px;
  text-transform: uppercase;
}

.contact-button:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

@media (max-width: 576px) {
  nav {
    padding: 15px 30px;
  }

  i {
    padding-top: 10px;
    font-size: 20px;
  }

  .brand {
    font-size: 24px;
  }

  nav ul {
    padding-top: 0;
  }

  nav li {
    margin-left: 10px;
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
    line-height: 40px;
    padding: 0 10px 20px;
  }
  .contact-button {
    font-size: 10px;
    line-height: 12px;
    padding: 12px 20px;
  }
}

/* About page */

.about-heading {
  margin: 50px auto;
  padding: 0;
}

.about-section {
  padding: 0 40px 20px;
}

.about-us,
.our-services {
  padding: 0 20px 20px;
}

.about-paragraph-heading {
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto;
}

.social-icons {
  color: var(--accent-color);
  text-align: center;
  margin: 25px auto 0;
}

.social-icons i {
  font-size: 20px;
  margin: 0 10px;
}

.about-image {
  padding: 60px;
}

@media (max-width: 576px) {
  .about-section {
    padding: 15px 20px;
  }

  .about-us,
  .our-services {
    padding: 10px;
  }

  .about-heading {
    font-size: 32px;
    margin: 20px auto 0;
  }
  .about-paragraph-heading {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .about-paragraph {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }

  .social-icons i {
    font-size: 14px;
    margin: 0 8px;
  }

  .about-image {
    padding: 30px;
  }
}

/* Work */

.work-heading {
  margin: 50px auto;
  padding: 0;
}

.carousel {
  margin: 0 60px 60px;
}

@media (max-width: 576px) {
  .work-heading {
    font-size: 32px;
    margin: 20px auto;
  }

  .carousel {
    margin: 0 20px 20px;
  }
}

/* Contact */

.contact-heading {
  margin: 50px auto;
  padding: 0;
}

.contact-form-image {
  max-height: 346px;
}

.contact-paragraph {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0 60px;
  max-width: 450px;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email-link {
  color: var(--accent-color);
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

form {
  margin: 0 60px;
  max-width: 650px;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.send-button {
  background-color: var(--secondary-color);
  border-radius: 10px;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 10px 30px;
  text-transform: uppercase;
}

.send-button:hover {
  background-color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

.contact-image {
  margin-right: 60px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .contact-heading {
    font-size: 32px;
    margin: 20px auto;
  }
  .contact-paragraph {
    font-size: 12px;
    margin: 0 40px;
  }
  form {
    margin: 0 40px;
  }
  .form-control {
    font-size: 12px;
  }
  .send-button {
    font-size: 12px;
    padding: 10px 25px;
  }
}
